In [58]:
#importing dependencies
import pandas as pd 
from sklearn.neighbors import NearestNeighbors
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [59]:
#load dataset and preprocess 
researcher_data = pd.read_csv('/content/researcher_database.csv')

In [60]:
researcher_data.head()

,researcher_id,name,research_area,research_method,designation,gender,yoe
0,1,Researcher 1,Neuroscience,Theoretical,Graduate Student,Male,31
1,2,Researcher 2,Chemical Engineering,Experimental,Postdoctoral Fellow,Prefer not to say,49
2,3,Researcher 3,Computer Science,Theoretical,Postdoctoral Fellow,Non-binary,20
3,4,Researcher 4,Materials Science,Theoretical,Research Assistant,Female,28
4,5,Researcher 5,Environmental Science,Experimental,Graduate Student,Male,6

In [61]:
researcher_data.describe

<bound method NDFrame.describe of      researcher_id             name           research_area research_method  \
0                1     Researcher 1            Neuroscience     Theoretical
1                2     Researcher 2    Chemical Engineering    Experimental
2                3     Researcher 3        Computer Science     Theoretical
3                4     Researcher 4       Materials Science     Theoretical
4                5     Researcher 5   Environmental Science    Experimental
..             ...              ...                     ...             ...
995            996   Researcher 996    Chemical Engineering    Experimental
996            997   Researcher 997        Computer Science    Experimental
997            998   Researcher 998        Computer Science           Mixed
998            999   Researcher 999                 Physics     Theoretical
999           1000  Researcher 1000  Electrical Engineering    Experimental

             designation             gender  yoe
0       Graduate Student               Male   31
1    Postdoctoral Fellow  Prefer not to say   49
2    Postdoctoral Fellow         Non-binary   20
3     Research Assistant             Female   28
4       Graduate Student               Male    6
..                   ...                ...  ...
995  Postdoctoral Fellow  Prefer not to say   29
996            Professor  Prefer not to say   18
997            Professor             Female   25
998     Graduate Student  Prefer not to say    9
999   Research Associate             Female   18

[1000 rows x 7 columns]>

In [62]:
researcher_data.shape

(1000, 7)

In [64]:
#preprocessing data
X = researcher_data[['researcher_id', 'gender' ,  'designation' , 'research_method' , 'yoe']].fillna(0)
X = pd.get_dummies(X, columns=['researcher_id', 'gender' ,  'designation' , 'research_method' , 'yoe'])

In [65]:
n_neighbors = 5 
knn = NearestNeighbors(n_neighbors=n_neighbors, algorithm='auto')
knn.fit(X)

NearestNeighbors()

In [71]:
researcher_id = 69
researcher_features = X.iloc[researcher_id,:].values.reshape(1,-1)
_, neighbour_ids = knn.kneighbors(researcher_features)
similar_researcher_ids = neighbour_ids[0][1:]
similar_researcher = researcher_data.iloc[similar_researcher_ids,:]

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but NearestNeighbors was fitted with feature names
  warnings.warn(

In [73]:
print(similar_researcher)

     researcher_id            name           research_area research_method  \
690            691  Researcher 691        Computer Science    Experimental
278            279  Researcher 279                 Physics    Experimental
568            569  Researcher 569  Electrical Engineering    Experimental
395            396  Researcher 396   Environmental Science    Experimental

    designation      gender  yoe
690   Professor  Non-binary    9
278   Professor  Non-binary    9
568   Professor  Non-binary    2
395   Professor      Female    9