In [ ]:
#importing dependencies
import pandas as pd 
from sklearn.neighbors import NearestNeighbors
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [ ]:
#load dataset and preprocess 
researcher_data = pd.read_csv('/content/researcher_database.csv')

In [ ]:
researcher_data.head()

,Researcher ID,Name,Research Area,Research Method,Position,Gender,Years of Experience
0,1,Researcher 1,Neuroscience,Theoretical,Graduate Student,Male,31
1,2,Researcher 2,Chemical Engineering,Experimental,Postdoctoral Fellow,Prefer not to say,49
2,3,Researcher 3,Computer Science,Theoretical,Postdoctoral Fellow,Non-binary,20
3,4,Researcher 4,Materials Science,Theoretical,Research Assistant,Female,28
4,5,Researcher 5,Environmental Science,Experimental,Graduate Student,Male,6

In [ ]:
researcher_data.describe()

       Researcher ID  Years of Experience
count    1000.000000          1000.000000
mean      500.500000            24.458000
std       288.819436            14.844683
min         1.000000             0.000000
25%       250.750000            11.000000
50%       500.500000            24.000000
75%       750.250000            38.000000
max      1000.000000            50.000000

In [ ]:
researcher_data.shape

(1000, 7)

In [ ]:
#preprocessing data
X = researcher_data[['Research Area', 'Gender' ,  'Position' , 'Research Method' , 'Years of Experience']].fillna(0)
X = pd.get_dummies(X, columns=['Research Area', 'Gender', 'Position', 'Research Method', 'Years of Experience'])

In [ ]:
n_neighbors = 5 
knn = NearestNeighbors(n_neighbors=n_neighbors, algorithm='auto')
knn.fit(X)

NearestNeighbors()

In [ ]:
Researcher_ID = 69
Researcher_features = X.iloc[Researcher_ID,:].values.reshape(1,-1)
_, neighbour_IDs = knn.kneighbors(Researcher_features)
similar_Researcher_IDs = neighbour_IDs[0][1:]
similar_Researcher = researcher_data.iloc[similar_Researcher_IDs,:]

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but NearestNeighbors was fitted with feature names
  warnings.warn(

In [ ]:
print(similar_Researcher)

     Researcher ID            Name     Research Area Research Method  \
69              70   Researcher 70           Physics    Experimental
690            691  Researcher 691  Computer Science    Experimental
875            876  Researcher 876           Physics    Experimental
441            442  Researcher 442  Medical Research    Experimental

      Position      Gender  Years of Experience
69   Professor  Non-binary                    9
690  Professor  Non-binary                    9
875  Professor  Non-binary                   50
441  Professor  Non-binary                    2